@import '_mixins.scss';

@include mobile{ 
  #wrap {
     header {
      .line {
        height: 1px;
      }
      .logo {
        display: none;
      }
      .list {
      .sns {
        width: 100%!important;
      }
    }
  } 
  }
}

@include tablet{
  .cursor {
    display: none;
  }
 #wrap {
  header {
    .list {
      .menu_list {
        display: none;
      }
      .sns {
        width: auto;
      }
    }
  } 
  main {
    .scroll-wrap {
      .title {
        -webkit-text-stroke: 1px var(--sub-color);
      }
      .pir {
        top: 2%;
            font-size: 3vw;
      }
      .sub_title {
        font-size: 5vw;
      }
    }
    .section2 {
      .text_box_wrap {
        flex-wrap: wrap;
                justify-content: flex-end;
        .text_mask_wrap {
          width: 100%;
          .mask {
            text-align: left;
          }
        }
      }
      .marquee {
            font-size: 3rem;
                margin-left: -15px;
                    padding: 25px 0px;
      }
    }
    .section3  {
      .works_num {
            top: 73px;
    right: 16px;
      }
      .project_card {
        .project_info {
              font-size: 3vw;
              left: 4vh;
    top: 69vh;
        }
      }
    } 
    .read_more_btn {
      &.on {
        left: 50%;
        top: 50%;
      }
    }
    .section5 {
      .contact_wrap {
        flex-wrap: wrap;
        justify-content: center;
        &>div {
          flex: unset;
          width: 100%;
        }
      }
    }
  }
 }
}